.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	/*font-size:(16/10)*1rem;*/
	width:(16/16)*1em;
}
.icon-clock {
	/*font-size:(512/10)*1rem;*/
	width:(512/512)*1em;
}
.icon-dev-hleb-kroshki {
	/*font-size:(10/10)*1rem;*/
	width:(7/10)*1em;
}
.icon-home {
	/*font-size:(512/10)*1rem;*/
	width:(512/512)*1em;
}
.icon-logo {
	/*font-size:(105.162/10)*1rem;*/
	width:(159.999/105.162)*1em;
}
.icon-minus {
	/*font-size:(512/10)*1rem;*/
	width:(512/512)*1em;
}
.icon-phone {
	/*font-size:(20/10)*1rem;*/
	width:(20/20)*1em;
}
.icon-plus {
	/*font-size:(512/10)*1rem;*/
	width:(512/512)*1em;
}
.icon-princ1 {
	/*font-size:(32/10)*1rem;*/
	width:(32/32)*1em;
}
.icon-princ2 {
	/*font-size:(32/10)*1rem;*/
	width:(32/32)*1em;
}
.icon-princ3 {
	/*font-size:(32/10)*1rem;*/
	width:(32/32)*1em;
}
.icon-princ4 {
	/*font-size:(32/10)*1rem;*/
	width:(32/32)*1em;
}
.icon-search {
	/*font-size:(5.12/10)*1rem;*/
	width:(5.12/5.12)*1em;
}
.icon-x-button {
	/*font-size:(512/10)*1rem;*/
	width:(512/512)*1em;
}
